@font-face {
  font-family: 'dreamTravel';
  src:  url('assets/fonts/ico/dreamTravel.eot?csalhh');
  src:  url('assets/fonts/ico/dreamTravel.eot?csalhh#iefix') format('embedded-opentype'),
    url('assets/fonts/ico/dreamTravel.woff2?csalhh') format('woff2'),
    url('assets/fonts/ico/dreamTravel.ttf?csalhh') format('truetype'),
    url('assets/fonts/ico/dreamTravel.woff?csalhh') format('woff'),
    url('assets/fonts/ico/dreamTravel.svg?csalhh#dreamTravel') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icon, [class^="ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamTravel' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ic-golf:before {
  content: "\e91e";
}
.ic-adults:before {
  content: "\e90e";
}
.ic-fsi:before {
  content: "\e930";
}
.ic-twi:before {
  content: "\e931";
}
.ic-shareLink:before {
  content: "\e932";
}
.ic-slepp:before {
  content: "\e92b";
}
.ic-equipment:before {
  content: "\e92c";
}
.ic-badroom:before {
  content: "\e92d";
}
.ic-amenities:before {
  content: "\e92e";
}
.ic-check1:before {
  content: "\e92f";
}
.ic-like:before {
  content: "\e928";
}
.ic-moon:before {
  content: "\e92a";
}
.ic-star-o1:before {
  content: "\e925";
}
.ic-users:before {
  content: "\e926";
}
.ic-m2:before {
  content: "\e91f";
}
.ic-star-o:before {
  content: "\e927";
}
.ic-users-2:before {
  content: "\e929";
}
.ic-minus:before {
  content: "\e900";
}
.ic-newlyweds:before {
  content: "\e901";
}
.ic-nutrtion:before {
  content: "\e902";
}
.ic-owl:before {
  content: "\e903";
}
.ic-plus:before {
  content: "\e904";
}
.ic-rate:before {
  content: "\e905";
}
.ic-search:before {
  content: "\e906";
}
.ic-ski:before {
  content: "\e907";
}
.ic-SPA:before {
  content: "\e908";
}
.ic-star:before {
  content: "\e909";
}
.ic-type:before {
  content: "\e90a";
}
.ic-visa:before {
  content: "\e90b";
}
.ic-xcursion:before {
  content: "\e90c";
}
.ic-active-rest:before {
  content: "\e90d";
}
.ic-arrow:before {
  content: "\e90f";
}
.ic-arrow-down:before {
  content: "\e910";
}
.ic-arrow-drop:before {
  content: "\e911";
}
.ic-beach:before {
  content: "\e912";
}
.ic-calender:before {
  content: "\e913";
}
.ic-check:before {
  content: "\e914";
}
.ic-corporate:before {
  content: "\e915";
}
.ic-cruiz:before {
  content: "\e916";
}
.ic-download:before {
  content: "\e917";
}
.ic-dropdown:before {
  content: "\e918";
}
.ic-family:before {
  content: "\e919";
}
.ic-fb:before {
  content: "\e91a";
}
.ic-features:before {
  content: "\e91b";
}
.ic-free-day:before {
  content: "\e91c";
}
.ic-gastro:before {
  content: "\e91d";
}
.ic-inst:before {
  content: "\e920";
}
.ic-location:before {
  content: "\e921";
}
.ic-log-in:before {
  content: "\e922";
}
.ic-luxury:before {
  content: "\e923";
}
.ic-mastercard:before {
  content: "\e924";
}
